# Figures Pigeon

## Pairs Description.

* Pairs from **0** to **4** are RR fixed ($\frac{1}{30}$) - RI random ($\frac{1}{7.5}$, $\frac{1}{15}$, $\frac{1}{30}$, $\frac{1}{60}$, $\frac{1}{120}$).

* Pairs drom **5** to **9** are RR random ($\frac{1}{15}$, $\frac{1}{30}$, $\frac{1}{45}$, $\frac{1}{60}$, $\frac{1}{120}$) - RI fixed ($\frac{1}{60}$).

## Event Dictionary

* Response RI = 24
* Response RR = 44
* Reward RI = 33
* Reward RR=46
* Start session with R1 (p=0.5) = 12
* Start session with RR (p=0.5) = 13
* Switch from RR to RI = 14
* Switch from RI to RR = 15
* Show pairs = 10
* Response on TecCen to start session = 11

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [44]:
df = pd.read_csv("data_to_analyze.csv")

In [14]:
sessions = df.session.unique()
birds = df.bird.unique()
pairs = df.pair.unique()

print(f"Sessions: {sessions}","\n", "*"*60, "\n", 
     f"Birds:{sessions}", "\n", "*"*60, "\n", 
     f"Pairs: {pairs}")

Sessions: ['S50' 'S51' 'S52' 'S53' 'S54' 'S55' 'S56' 'S57' 'S58' 'S59' 'S60' 'S61'
 'S62' 'S63' 'S64' 'S65' 'S66' 'S67' 'S68' 'S69' 'S70' 'S71' 'S72' 'S73'
 'S74' 'S75' 'S76' 'S77' 'S78' 'S79' 'S80' 'S81' 'S82' 'S83' 'S84' 'S85'
 'S86' 'S87' 'S88' 'S89' 'S90' 'S91' 'S92' 'S93' 'S94' 'S95' 'S96' 'S97'
 'S98' 'S99' 'S100' 'S101' 'S102' 'S103' 'S104' 'S105' 'S106' 'S107'
 'S108' 'S109' 'S110']
 ************************************************************
 Birds:['S50' 'S51' 'S52' 'S53' 'S54' 'S55' 'S56' 'S57' 'S58' 'S59' 'S60' 'S61'
 'S62' 'S63' 'S64' 'S65' 'S66' 'S67' 'S68' 'S69' 'S70' 'S71' 'S72' 'S73'
 'S74' 'S75' 'S76' 'S77' 'S78' 'S79' 'S80' 'S81' 'S82' 'S83' 'S84' 'S85'
 'S86' 'S87' 'S88' 'S89' 'S90' 'S91' 'S92' 'S93' 'S94' 'S95' 'S96' 'S97'
 'S98' 'S99' 'S100' 'S101' 'S102' 'S103' 'S104' 'S105' 'S106' 'S107'
 'S108' 'S109' 'S110']
 ************************************************************
 Pairs: [0 1 3 2 4 8 9 6 5 7]

In [45]:
df.head()

  session  bird  pair  time  event
0     S50  P168     0  0.02     10
1     S50  P168     0  6.01     11
2     S50  P168     0  6.01     13
3     S50  P168     0  7.01     21
4     S50  P168     0  7.15     22

In [136]:
test = df[(df.bird == birds[0]) & (df.session == "S50")]
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10916 entries, 0 to 10915
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   session  10916 non-null  object
 1   bird     10916 non-null  object
 2   pair     10916 non-null  int64
 3   time     10916 non-null  float64
 4   event    10916 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 511.7+ KB

In [72]:
test.head(87)

   session  bird  pair   time  event
0      S50  P168     0   0.02     10
1      S50  P168     0   6.01     11
2      S50  P168     0   6.01     13
3      S50  P168     0   7.01     21
4      S50  P168     0   7.15     22
..     ...   ...   ...    ...    ...
82     S50  P168     0  18.92     22
83     S50  P168     0  18.92     24
84     S50  P168     0  18.92     27
85     S50  P168     0  18.92     29
86     S50  P168     0  18.92     33

[87 rows x 5 columns]

In [69]:
test.tail()

      session  bird  pair     time  event
10911     S50  P168     7  2227.38     22
10912     S50  P168     7  2227.38     44
10913     S50  P168     7  2227.38     42
10914     S50  P168     7  2227.38     46
10915     S50  P168     7  2229.88     47

In [162]:
len_data = test.shape[0]
len_data

10916

In [209]:
count_RI_resp = [0]
count_RR_resp = [0]
time = [0]
time_diff = [0]
resp_RI = [0]
resp_RR = [0]

counter_ri = 1
counter_rr = 1

for ii in range(len_data):
    if test.loc[ii, "event"] == 33:
        time.append(test.loc[ii, "time"])
        
        counter_ri = 0
        count_RI_resp.append(counter_ri)
        count_RR_resp.append(counter_rr)
        
        resp_RI.append(1)
        resp_RR.append(0)
        
    if test.loc[ii, "event"] == 46:
        time.append(test.loc[ii, "time"])
        
        counter_rr = 0
        count_RR_resp.append(counter_rr)
        count_RI_resp.append(counter_ri)
        
        resp_RI.append(0)
        resp_RR.append(1)
        
    if test.loc[ii, "event"] == 24:
        time.append(test.loc[ii, "time"])
        
        count_RI_resp.append(counter_ri)
        count_RR_resp.append(counter_rr)
        counter_ri += 1
        
        resp_RI.append(1)
        resp_RR.append(0)
        
    if test.loc[ii, "event"] == 44:
        time.append(test.loc[ii, "time"])
        
        count_RI_resp.append(counter_ri)
        count_RR_resp.append(counter_rr)
        counter_rr +=1
        
        resp_RI.append(0)
        resp_RR.append(1)
        
time_diff = np.diff(np.sort(np.append(time, 0)))

In [210]:
print(len(count_RI_resp))
print(len(count_RR_resp))
print(len(time))
print(len(resp_RI))
print(len(resp_RR))
print(len(time_diff))

2922
2922
2922
2922
2922
2922

In [218]:
time_diff[2921]

0.0

2922